.card {
  width: 380px;
  background: linear-gradient(transparent -10%, black);
  border-radius: 30px;
  height: 350px;
  padding: 30px;
  padding-bottom: 50px;
}

.star-icon {
  width: 25px;
  height: 25px;
  background-color: var(--darkBlue);
  padding: 10px;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
}

.numBtnDiv {
    display: flex;
    justify-content: space-around;
    border-radius: 50rem;
}

.numBtn:hover {
  background-color: var(--orange);
  color: var(--darkBlue);
}

.numBtn:focus {
  background-color: var(--white);
  color: var(--darkBlue);
}

.numBtn {
  border-radius: 50rem;
}

.submitBtn:hover {
  background-color: var(--white);
}

.submitBtn {
  width: 98%;
  background-color: var(--orange);
  color: var(--darkBlue);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
  font-weight: 900;
}

.result-div {
  display: flex;
  justify-content: center;
}

.selected-div {
  color: var(--orange);;
}

.main-body {
  flex-direction: column;
}

.main-body > h1 {
  margin: auto;
  font-size: 28px;
}

@media (max-width: 450px) {
  .card {
    width: 300px;
    /* height: 430px; */
  }

  .h1-div > h1 {
    font-size: 38px;
  }
}

@media (max-width: 370px) {
  .card {
    width: 250px;
  }

  .h1-div > h1 {
    font-size: 35px;
  }

  .numBtn {
    padding: 0.6em 0.9em;
  }
}